:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --card-background: #f8f9fa;
  --sidebar-active-light: rgb(242, 243, 244);
  --sidebar-active-dark: rgb(123, 128, 138);
}

.dark {
  --background-color: #1a1a1a;
  --text-color: #ffffff;
  --card-background: #1f2937;
}
